.page1 {
    background-color: lightpink;
    font-family: "Comic Sans MS";
}
.page1-2 {
    background-color: powderblue;
    font-family: "Papyrus";
}
.page1-3 {
    background-color: lightgreen;
}
.default1 {
    background-color: lightcoral;
}
.default2 {
    background-color: lightcyan;
}
.page2 {
    background-color: lightgoldenrodyellow;
}
